p{
    margin: 0;
    padding: 0;
}

.titles{
    display: flex;
}

.user{
    display: flex;
}

.userlist-container p{
    min-width: 150px;
}

.section{
    display:flex
}

.input-container input{
    display: block;
}